# Python-compiled byte-code
*.py[co]


# Results (maybe later we'll have them in the repo)
results
result*
mintest
matlab


# Coverage report
.coverage

# Vim swap files
*.swp

# Matlab result files
*.mat
*.log


